.metadata/
.recommenders/
BUILDER/
BUILDER_API/
BUILDER_Symlink/
BilatTools_CPP/
BilatTools_Cuda/
BilatTools_Cuda_Image/
BilatTools_Cuda_smart_switch/
BilatTools_Image/
BilatTools_OMP/
BilatTools_OpenCV/
BilatTools_V4L_Linux/
JavaTrucBase/
RELEASE/
Student_Cuda/.cproject
Student_Cuda/.project
Student_Cuda/.settings/
Student_Cuda_Image/.cproject
Student_Cuda_Image/.project
Student_Cuda_Image/.settings/
Student_OMP/.cproject
Student_OMP/.project	
Student_OMP/.settings/
Student_OMP_Image/.cproject
Student_OMP_Image/.project
Student_OMP_Image/.settings/
Tuto_Boost/
Tuto_CppTest/
Tuto_Doxy/
Tuto_Graphe_GL/
Tuto_Image/
Tuto_Image_Cuda/
Tuto_NameSpaces/

### CUDA ###
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
